*{margin:0; padding:0;}
html,body{ height:100%;}
ul, ol{list-style:none}
@imageurl:"../../images/";
@maincolor:#aeaeae;
@subcolor:#fff;
@backsize:cover;


  
     
     
     .wrapper{
         background-image:url("@{imageurl}pc.jpg");
         background-size:cover;
         height:100%;
         
             
        .header{
             height: 100px;
             background-color:rgba(0,0,0,0.8);
             padding:0px 20px;
             overflow:hidden;
            .mark a{
                corsor:pointer; display:block; width:104px; height:52px; float:left; padding:25px; background-image:url("@{imageurl}header_logo.png"); background-repeat:no-repeat; background-position:center;  transition:1s;
                &:hover {transform:rotateY(360deg); }
                
            }/* mark a end */
             
            .nv{
                float:right;
                    ul{
                        font-size:0;
                        li{
                             display:inline-block; font-size:12px; vertical-align:top; 
                             &:hover a{ border-top:3px #fff solid; background-color:rgba(255,255,255,0.5); color:#FFF; }
                            a{
                                padding:42px 15px; display:block; text-decoration:none; font-size:16px; font-wieight:bold; color:#3F3F3F; transition:0.2s; 
                            } /* li a end */
                            
                         } /* li end */
                         
                    }/* ul end */
                         
                    button{
                         display:none;
                    } /* button end */
                         
             }/* .nv end */
                 
        }   /* header end */
         
        .logo{background-image:url("@{imageurl}main.png");
                width: 240px;
                height: 100px;
                background-repeat:no-repeat;
                position:fixed;
                top:50%;
                left:50%;
                margin-left:-120px;
                margin-top:-50px;
                background-position:center center;
                background-size:@backsize;
                opacity:0.6;
                transition:1s;
                &:hover{transform:scale(1.8,1.8)}
         } /* logo end */  
     
     } /* wrapper end */